<div class="container mx-auto px-8 mb-4 grid grid-cols-1 xl:grid-cols-3 gap-6">
  <!-- Datepicker -->
  <div
    class="col-span-1 xl:col-span-1 flex items-center justify-center min-h-[300px] xl:min-h-[400px] bg-white dark:bg-gray-800 p-4 transition-transform duration-200 transform hover:scale-105 origin-center hover:z-10"
  >
    <div class="w-full flex justify-center items-center">
      <div
        id="datepicker-inline"
        inline-datepicker
        data-date="02/25/2024"
        class="scale-100"
      ></div>
    </div>
  </div>

  <!-- Gráfica -->
  <div
    class="col-span-2 bg-white rounded-lg shadow dark:bg-gray-800 p-8 flex flex-col justify-center transition-transform duration-200 transform hover:scale-105 origin-center hover:z-10"
  >
    <h3 class="text-2xl font-semibold text-gray-900 dark:text-gray-50 mb-4">
      Gráfica de 1
    </h3>
    <div class="flex justify-center items-center w-full h-full">
      <apx-chart
        class="w-full h-full"
        [colors]="chartOptions?.colors"
        [series]="series"
        [chart]="chartOptions?.chart"
        [xaxis]="chartOptions?.xaxis"
        [dataLabels]="chartOptions?.dataLabels"
      ></apx-chart>
    </div>
  </div>
</div>

<!-- Tabla de reportes -->
<div class="mt-8 mx-8">
  <div
    class="relative flex flex-col bg-clip-border rounded-xl bg-white text-gray-700 shadow-xl overflow-hidden w-full"
  >
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg w-full">
      <div class="overflow-x-auto overflow-y-scroll max-h-96 w-full">
        <table
          class="w-full text-lg text-left rtl:text-right text-gray-500 dark:text-gray-400 table-auto"
        >
          <thead class="sticky top-0 z-10 bg-gray-100 dark:bg-gray-800">
            <tr
              class="text-sm font-bold tracking-wide text-left text-gray-600 uppercase border-b dark:border-gray-700 dark:text-gray-400"
            >
              <th scope="col" class="px-6 py-4">Proveedor</th>
              <th scope="col" class="px-6 py-4">Enero</th>
              <th scope="col" class="px-6 py-4">Febrero</th>
              <th scope="col" class="px-6 py-4">Marzo</th>
              <th scope="col" class="px-6 py-4">Abril</th>
              <th scope="col" class="px-6 py-4">Mayo</th>
              <th scope="col" class="px-6 py-4">Junio</th>
              <th scope="col" class="px-6 py-4">Merma Generada</th>
              <th scope="col" class="px-6 py-4">Material Total</th>
              <th scope="col" class="px-6 py-4">Editar</th>
              <th scope="col" class="px-6 py-4">Eliminar</th>
            </tr>
          </thead>
          <tbody
            class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-900"
          >
            <!-- Registros dinámicos -->
            <tr
              class="bg-gray-100 dark:bg-gray-800 hover:bg-gray-200 dark:hover:bg-gray-700 text-gray-800 dark:text-gray-200 cursor-pointer transition-transform duration-200 transform hover:scale-102 origin-center hover:z-10"
            >
              <th class="px-6 py-4 font-semibold text-gray-900 dark:text-white">
                Proveedor A
              </th>
              <td class="px-6 py-4">1200</td>
              <td class="px-6 py-4">1300</td>
              <td class="px-6 py-4">1250</td>
              <td class="px-6 py-4">1400</td>
              <td class="px-6 py-4">1500</td>
              <td class="px-6 py-4">1450</td>
              <td class="px-6 py-4">50</td>
              <td class="px-6 py-4">7300</td>
              <td class="px-6 py-4">
                <button
                  class="w-full px-4 py-2 text-sm font-semibold text-blue-700 bg-blue-100 rounded-lg hover:bg-blue-200 dark:bg-blue-700 dark:text-blue-100 dark:hover:bg-blue-600"
                  data-modal-target="crear/modificar-reportes-modal"
                  data-modal-toggle="crear/modificar-reportes-modal"
                >
                  Editar
                </button>
              </td>
              <td class="px-6 py-4">
                <button
                  class="w-full px-4 py-2 text-sm font-semibold text-red-700 bg-red-100 rounded-lg hover:bg-red-200 dark:bg-red-700 dark:text-red-100 dark:hover:bg-red-600"
                >
                  Eliminar
                </button>
              </td>
            </tr>
            <!-- Repite el bloque anterior para otros proveedores -->
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- Boton de nuevo registro -->
<div class="flex justify-end mt-8 mb-4 mr-12">
  <button
    class="px-4 py-2 text-sm font-semibold text-white bg-blue-600 rounded-lg hover:bg-blue-500"
    data-modal-target="crear/modificar-reportes-modal"
    data-modal-toggle="crear/modificar-reportes-modal"
  >
    Crear nuevo registro
  </button>
</div>

<!-- Modal Tabla añadir registro-->
<div
  id="crear/modificar-reportes-modal"
  tabindex="-1"
  aria-hidden="true"
  class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full"
>
  <div class="relative p-4 w-full max-w-xl max-h-full">
    <!-- Modal content -->
    <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
      <!-- Modal header -->
      <div
        class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600"
      >
        <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
          Modificar Reporte
        </h3>
        <button
          type="button"
          class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
          data-modal-toggle="crear/modificar-reportes-modal"
        >
          <svg
            class="w-3 h-3"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 14 14"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
            />
          </svg>
          <span class="sr-only">Close modal</span>
        </button>
      </div>
      <!-- Modal body -->
      <form class="p-4 md:p-5">
        <div class="grid gap-4 mb-4 grid-cols-2">
          <!-- Empresa (select box) -->
          <div class="col-span-2 sm:col-span-1">
            <label
              for="empresa"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >Empresa</label
            >
            <select
              id="empresa"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
              required
            >
              <option value="" selected>Selecciona la empresa</option>
              <option value="Empresa A">Empresa A</option>
              <option value="Empresa B">Empresa B</option>
              <option value="Empresa C">Empresa C</option>
            </select>
          </div>

          <!-- Tipo de Material -->
          <div class="col-span-2 sm:col-span-1">
            <label
              for="tipo-material"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >Tipo de Material</label
            >
            <select
              id="tipo-material"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
              required
            >
              <option value="" selected>Selecciona el tipo de material</option>
              <option value="Cartón">Cartón</option>
              <option value="Metal">Metal</option>
              <option value="Vidrio">Vidrio</option>
              <option value="Papel">Papel</option>
              <option value="Otro">Otro</option>
            </select>
          </div>

          <!-- Fecha -->
          <div class="col-span-2 sm:col-span-1">
            <label
              for="fecha"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >Fecha</label
            >

            <div class="relative max-w-sm">
              <div
                class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none"
              >
                <svg
                  class="w-4 h-4 text-gray-500 dark:text-gray-400"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor"
                  viewBox="0 0 20 20"
                >
                  <path
                    d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"
                  />
                </svg>
              </div>
              <input
                id="datepicker-format"
                datepicker
                datepicker-format="mm-dd-yyyy"
                type="text"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                placeholder="Select date"
              />
            </div>
          </div>

          <!-- Kilos entregados -->
          <div class="col-span-2 sm:col-span-1">
            <label
              for="kilos-entregados"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >Kilos Entregados</label
            >
            <input
              type="number"
              name="kilos-entregados"
              id="kilos-entregados"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
              placeholder="Número de kilos entregados"
              required
            />
          </div>

          <!-- Kilos de merma -->
          <div class="col-span-2 sm:col-span-1">
            <label
              for="kilos-merma"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >Kilos de Merma</label
            >
            <input
              type="number"
              name="kilos-merma"
              id="kilos-merma"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
              placeholder="Número de kilos de merma"
              required
            />
          </div>

          <!-- Kilos finales -->
          <div class="col-span-2 sm:col-span-1">
            <label
              for="kilos-finales"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >Kilos Finales</label
            >
            <input
              type="number"
              name="kilos-finales"
              id="kilos-finales"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
              placeholder="Número de kilos total"
              required
            />
          </div>
        </div>

        <!-- Botones de acción -->
        <div class="flex justify-end gap-4 mt-4">
          <!-- Botón guardar -->
          <button
            type="submit"
            class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
          >
            Guardar
          </button>

          <!-- Botón descartar -->
          <button
            type="button"
            class="text-gray-700 bg-gray-200 hover:bg-gray-300 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-gray-500 dark:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-700"
            data-modal-toggle="crear/modificar-reportes-modal"
          >
            Descartar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>


